<h2>Buscar empleado</h2>
<form action="{{ base_url }}/api/search/employee" method="POST">
    <label for="email">Ingrese correo electrónico</label>
    <input type="text" name="email" required>
    <button>Buscar</button>
</form>
<hr>